<form>
    <div class="columns is-multiline">
        <!-- Required Fields Label -->
        <div class="column is-full">
            <span class="help-text is-italic">* Required field</span>
        </div>

	    <!-- Row: Email & Zip -->
        <div class="column is-three-fifths">
            <input type="email" class="input" required placeholder="Email Address *"/>
        </div>
        <div class="column is-two-fifths">
            <input type="text" class="input" placeholder="Zipcode *"/>
        </div>
    </div>

    <button type="submit" class="button is-primary m-t-30">Submit</button>
</form>