<form>
    <div class="columns is-multiline">
        <!-- Required Fields Label -->
        <div class="column is-full">
            <span class="help-text is-italic">* Required field</span>
        </div>
        <div class="column is-full">
            <input type="email" required class="input" placeholder="Email Address *"/>
        </div>
    </div>

    <button type="submit" class="button is-primary m-t-30">Submit</button>
</form>