<form class="form">
    <div class="columns">
        <div class="column is-half">
            <input type="text" class="input has-background-white" placeholder="First Name">
        </div>
        <div class="column is-half">
            <input type="text" class="input has-background-white" placeholder="Last Name">
        </div>
    </div>
    <div class="columns">
        <div class="column is-three-quarters">
            <input type="email" required class="input has-background-white" placeholder="Email Address">
        </div>
        <div class="column is-one-quarter">
            <input type="text" class="input has-background-white" placeholder="Zip code">
        </div>
    </div>
    <div class="columns columns-submit">
        <button type="submit" class="button button-primary">Submit</button>
    </div>
</form>