@font-face {
	font-family: 'cs-elementor-icons';
	src: url('../icon-fonts/elementor-icons.eot?mywnu');
	src: url('../icon-fonts/elementor-icons.eot?mywnu#iefix') format('embedded-opentype'),
		url('../icon-fonts/elementor-icons.ttf?mywnu') format('truetype'),
		url('../icon-fonts/elementor-icons.woff?mywnu') format('woff'),
		url('../icon-fonts/elementor-icons.svg?mywnu#elementor-icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="cs-icon-el-"],
[class*=" cs-icon-el-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'cs-elementor-icons' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-icon-el-text_fields:before {
	content: "\e900";
}
.cs-icon-el-panorama:before {
	content: "\e901";
}
.cs-icon-el-wb_iridescent:before {
	content: "\e902";
}
.cs-icon-el-burst_mode:before {
	content: "\e903";
}
.cs-icon-el-local_attraction:before {
	content: "\e904";
}
.cs-icon-el-input:before {
	content: "\e905";
}
.cs-icon-el-tab:before {
	content: "\e906";
}
.cs-icon-el-view_quilt:before {
	content: "\e907";
}
.cs-icon-el-horizontal_rule:before {
	content: "\e908";
}
